* {
    box-sizing: border-box;
}

/* Mobile */
:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.25vw;
    color: var(--color-copy);
}

/* Tablet */
@media screen and (min-width: 720px) {
    :root {
        font-size: 2.25vw;
    }
}

/* Desktop */
@media screen and (min-width: 1280px) {
    :root {
        font-size: 16px;
    }
}

body {
    margin: 0;
}

header,
main,
footer {
    overflow-x: hidden;
    overflow-y: hidden;
}


ul{
    display: flex;
    list-style: none;
    padding-left: 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.logo-studion {
    font-size: 2.375rem;
    font-weight: 900;
    line-height: 1ch;
    text-transform: uppercase;
    text-align: right;
}

.logo-studion__subtitle {
    display: block;
    font-size: .875rem;
    font-weight: 300;
    
}

.logo-studion a {
    text-decoration: none;
    color: #fff;
}