.depoimentos-hero {
    position: relative;
    height: 34.625rem;
}

.depoimentos-hero__background {
    position: absolute;
    width: 100%;
    height: 90vh;

}

.depoimentos-hero__copy {
    position: absolute;
    bottom: 0;
    right: 160px;
    width: 50vw;
    padding: 7rem 1.875rem;
}

.depoimentos-hero__copy h4 {
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Montserrat';
    color: var(--color-primary);
}

.depoimentos-hero__copy h2 {
    margin: 0;
    margin-bottom: 3rem;
    font-size: 5.25rem;
    line-height: 120px;
    letter-spacing: -.3125rem;
    color: var(--color-primary);
}

.depoimentos-hero__copy p {
    margin: 0;
    font-size: 15px;
    line-height: 1.875rem;
    color: var(--color-copy--alt);
    max-width: 60ch;
}
