.list{
    margin-top: 110px;
    margin-bottom: 110px;
}

.show__container {
    margin: 87px 185px;
}

.show {
    display: grid;
    grid-template-columns: 0fr 2fr;
    column-gap: 35px;
}

.show__arena {
    display: grid;
    grid-template-columns: 0fr 2fr;
    column-gap: 35px;
}

.columns__left {
    display: flex;
    flex-direction: column;
}

.column__left {
    display: flex;
    flex-direction: column;
}


.show img,
.show__arena img {
    position: relative;
    width: 190px;
    height: 187px;
}

.show h3,
.show__arena h3 {
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-primary);
    margin: 30px 0 0 0;
}

.show__location h4 {
    margin: 60px 0 0 40px;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 18px;
    font-weight: 400;
    font-family: "Montserrat";
    text-transform: uppercase;
    
} 


.show__location form span {
    font-size: 14px;
    line-height: 27px;
    font-weight: 400;
    font-family: "Roboto";
    margin: 0 0 0 40px;
}

.show span,
.show__arena span {
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 35px;
    font-weight: 700;
    font-family: 'Montserrat';
  
}

.show__location i {
    position: absolute;
    top: 1650px;
}


.show p,
.show__arena p {
    font-size: 17px;
    line-height: 27px;
    max-width: 55ch;
    font-weight: 400;
    font-family: 'Roboto';
    margin: 0;
}

.show__arena .show__info {
    padding: 95px 0 0 0;
    max-width: 100ch;
    
}

.show i,
.show__arena i {
    color: var(--color-primary);
}

.show button,
.show__arena button {
    float: right;
    padding: 10px;
    position: relative;
    top: -60px;
    font-weight: 700;
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 24px;
}

.show__container hr {
    margin: 40px 0 40px 0;

}

